<h2>会計管理アプリ</h2>
<div class="row width">
  <div class="col-md-12">
    <table class="table table-striped columns">
      <% if @histories.present? %>
        <thead class="thead-light">
          <tr>
            <th>タイトル</th>
            <th>カテゴリー</th>
            <th>金額</th>
            <th>支払先</th>
            <th>会計係</th>
            <th>領収書受取日</th>
            <th>返却日</th>
            <th>内容</th>
            <th>ステータス</th>
            <th>処理内容</th>
          </tr>
        </thead>
        <tbody>
          <% @histories.each do |history| %>
            <tr>
              <td><%= link_to history.title, history_path(history) %></td>
              <td><%= history.category %></td>
              <td><%= history.price %></td>
              <td><%= history.payee %></td>
              <td><%= history.treasurer %></td>
              <td><%= history.received_day %></td>
              <td><%= history.return_day %></td>
              <td><%= history.description %></td>
              <td><%= history.status %></td>
              <td>[ <%= link_to '編集',  edit_history_path(history) %> ] 
              
              [ <%= link_to '削除', history_path(history), method: :delete, data:{ confirm: '削除してよろしいですか?' } %> ]</td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
          <p>現在会計履歴はありません</p>
      <% end %>
    </table>
    <div>
      <%= link_to '新規作成', new_history_path %>
    </div>
  </div>
</div>
<style>
  div.width {
    width: 900;
  }
  
  table.colums {
    border-collapse:collapse;
  }
  
  table.colums th{
    border: 1px solid #dcdcdc;
    background: #deb887;
    font-size: 13px;
  }
 
  table.colums td{
    border:1px solid #dcdcdc;
    background:#ffffff;
    font-size: 13px;
  }
  
</style>