<div class="row">
  <div class="col-md-12">
    <h2><%= @history.title %></h2>
    <div>
      金額: <%= @history.price %>
    </div>
    <div>
      支払先: <%= @history.payee %>
    </div>
    <div>
      会計係: <%= @history.treasurer %>
    </div>
    <div>
      内容: <%= @history.description %>
    </div>
    <hr>
    
    <div>
      <h3>質問</h3>
      <table class="table table-striped">
        <% if @history.questions.any? %>
          <thead class="thead-light">
            <tr>
              <td>タイトル</td>
              <td>質問者</td>
              <td>内容</td>
              <td>処理内容</td>
            </tr>
          </thead>
          <tbody>
            <% @history.questions.each do |question| %>
              <tr>
                <td>
                  <%= question.title %>
                </td>
                <td>
                  <%= question.name %>
                </td>
                <td>
                  <%= question.content %>
                </td>
                <td>
                  [<%= link_to '編集', edit_history_question_path(@history, question) %>]
                  [<%= link_to '削除', history_question_path(@history, question), 
                    method: :delete, data:{ confirm: '本当に削除してよろしいですか?'} %> ]
                </td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <p>現在質問はありません</p>
        <% end %>
      </table>
    </div>
    
    <h3>質問を作成できます</h3>
    
    <%= form_with model: [@history, @question], local: true do |f| %>
      <%= f.hidden_field :history_id, { value: @history.id} %>
      <div class="form-group">
        <label>タイトル</label>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>質問者</label>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>内容</label>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <div class="text-center">
        <%= f.submit "保存", class: 'btn btn-primary' %>
      </div>
    <% end %>
    
    <div>
      <%= link_to '> トップへ戻る', root_path %>
    </div>
  </div>
</div>